.county {
    fill: #909090;
    stroke: white;
    stroke-width: 0.2;
}

.coc {
    fill: #585858;
    stroke-width: 0;
}

.dot {
    fill: red;
}

.ring {
    fill: none;
}

.route {
    stroke-width: 0;
}

.driving-route {
    stroke-width: 0.5px;
    stroke: black;
    fill: none;
}

.place-label {
    font-size: 5px;
}

.label-city {
    font-size: 5px;
    font-weight: bold;
}

.text-box {
    transform: translate(-0.1em, -0.8em);
    width: 46px;
    height: 11px;
    fill: white;
    stroke-width: 0.5px;
    stroke: black;
}

.austin-text-box {
    transform: translate(-0.1em, -0.9em);
    width: 17.25px;
    height: 6px;
    fill: white;
    stroke-width: 0.5px;
    stroke: black;
}